<html>
<head>
    <title>EleNa - {{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container">
    <!--      <div class="topleft">-->
    <!--        <img src='/static/<LOGO>.png' alt="Logo_app" width="100" height="50">-->
    <!--      </div>-->
    <h1 style="color:red;">EleNa - Elevation Based Navigation</h1>
</div>
<div class="topnav">
    <a class="active" href="{{ url_for('index') }}">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a class="user" href="{{ url_for('login') }}">Login</a>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<br>
{% block content %}{% endblock %}
</body>
</html>
