<!DOCTYPE html>
<!--suppress BadExpressionStatementJS -->
<html>
<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1.0, user-scalable=no" name="viewport">
    <title>EleNa - {{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        let vars = JSON.parse(JSON.stringify({{ data|tojson }}));
    </script>
    <link href="{{ url_for('static',filename='styles/stylesheet.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="map-canvas">
    <div id="map"></div>
</div>
<div class="heading">EleNa - Elevation based Navigation</div>
<div id="panel">
    <div>
        <form action="/submit" method="post" role="form">
            <label class="search-label" for="source">Starting Point </label>
            <input class="searchfield" id="source" name="source"
                   placeholder="Choose starting point, or click on the map"
                   title="Choose starting point, or click on the map" type="text">
            <br>
            <label class="search-label" for="destination">Destination :</label>
            <input class="searchfield" id="destination" name="destination"
                   placeholder="Choose destination, or click on the map"
                   title="Choose destination, or click on the map" type="text">
            <br>
            <br>
            <input class="x_percent" id="percent" max="200" min="100" name="percent" type="number" value="150">
            <label for="percent"> % of shortest path</label>
            <br>
            <br>
            <label>Route Optimization Type : </label>
            <br>
            <input checked="checked" id="max" name="max-min" type="radio" value="maximize">
            <label for="max">Maximize</label>
            <input id="min" name="max-min" type="radio" value="minimize">
            <label for="min">Minimize</label>
        </form>
        <button class="button" id="submit" style="vertical-align:middle"><span>Get Directions </span></button>
        <hr>
        <div id="info"></div>
    </div>
</div>
<script>
    // Variable to store the rendered map
    let map, mapOptions, directionsService, directionsDisplay, directionsDisplayGroundTruth, info_vars;

    function initMap() {

        let marker1, marker2;

        // Set Map options here
        mapOptions = {
            center: {lat: vars['lat'], lng: vars['lng']},
            zoom: vars['zoom']
        };

        // Initialize the map and set the services
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplayGroundTruth = new google.maps.DirectionsRenderer({
            polylineOptions: {
                strokeColor: "#DF013A"
            }
        });
        directionsDisplay.setMap(map);
        directionsDisplayGroundTruth.setMap(map);
        directionsDisplayGroundTruth.setOptions({
            suppressMarkers: true
        });

        // Set action on submitting the form
        $("#submit").click(function () {
            $("body").css("cursor", "progress");
            let objective;
            let opt_type = document.getElementsByName('max-min');
            for (let i = 0; i < opt_type.length; i++) {
                if (opt_type[i].checked) {
                    objective = opt_type[i].value;
                }
            }
            $.get("http://127.0.0.1:5000/submit" +
                encodeURIComponent($("#source").val()) + ":" +
                encodeURIComponent($("#destination").val()) + ":" +
                encodeURIComponent($("#percent").val()) + ":" +
                encodeURIComponent(objective)).done(function (data) {
                    info_vars = {
                        elevation: data.elevation,
                        distance: data.distance,
                        waypoints: data.waypoints,
                        ground_truth: data.ground_truth,
                        groundTruthElevation: data.groundTruthElevation,
                        groundTruthDistance: data.groundTruthDistance,
                        upperLimit: data.upperLimit
                    };
                renderOutputRoute(directionsService, directionsDisplay, directionsDisplayGroundTruth, info_vars.waypoints, info_vars.ground_truth);
                if (marker1) {
                    marker1.setMap(null);
                }
                if (marker2) {
                    marker2.setMap(null);
                }
                $("body").css("cursor", "default");
            })
        });

        // Function to place a new marker on the map
        function placeMarker(location) {
            return new google.maps.Marker({
                position: location,
                map: map
            });
        }

        let geocoder = new google.maps.Geocoder();

        // Listener for a click on the map to place marker and extract locations
        google.maps.event.addListener(map, 'click', function (event) {
            geocoder.geocode({
                'latLng': event.latLng
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        document.activeElement.id.value = results[0].formatted_address;
                        if (!$("#source").val()) {
                            if (marker1) {
                                marker1.setMap(null);
                            }
                            marker1 = placeMarker(event.latLng);
                            marker1.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
                            $('#source').val(event.latLng);
                            $('#source').val($('#source').val().slice(1, -1));
                        } else if (!$("#destination").val()) {
                            if (marker2) {
                                marker2.setMap(null);
                            }
                            marker2 = placeMarker(event.latLng);
                            marker2.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
                            $('#destination').val(event.latLng);
                            $('#destination').val($('#destination').val().slice(1, -1));
                        }
                    }
                }
            });
        });

        let source_input = document.getElementById('source');
        let source_sb = new google.maps.places.SearchBox(source_input);
        map.addListener('bounds_changed', function () {
            source_sb.setBounds(map.getBounds());
        });
        source_sb.addListener('places_changed', function () {
            let places = source_sb.getPlaces();
            if (places.length == 0) {
                console.debug('Empty places returned!');
                return;
            }
            if (marker1) {
                marker1.setMap(null);
            }
            let bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.debug('Empty geometry returned!');
                    return;
                }
                marker1 = placeMarker(place.geometry.location);
                marker1.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
                if (place.geometry.viewport) {
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });

        let destination_input = document.getElementById('destination');
        let destination_sb = new google.maps.places.SearchBox(destination_input);
        map.addListener('bounds_changed', function () {
            destination_sb.setBounds(map.getBounds());
        });
        destination_sb.addListener('places_changed', function () {
            let places1 = destination_sb.getPlaces();
            if (places1.length == 0) {
                console.debug('Empty places returned!');
                return;
            }
            if (marker2) {
                marker2.setMap(null);
            }
            let bounds1 = new google.maps.LatLngBounds();
            places1.forEach(function (place) {
                if (!place.geometry) {
                    console.debug('Empty geometry returned!');
                    return;
                }
                marker2 = placeMarker(place.geometry.location);
                marker2.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
                if (place.geometry.viewport) {
                    bounds1.union(place.geometry.viewport);
                } else {
                    bounds1.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds1);
        });
    }

    function renderOutputRoute(directionsService, directionsDisplay, directionsDisplayGroundTruth, checkboxArray, groundTruth) {
        let waypts = [];
        for (let i = 1; i < checkboxArray.length - 1; i++) {
            waypts.push({
                location: new google.maps.LatLng(checkboxArray[i].Lat, checkboxArray[i].Long),
                stopover: true
            });
        }

        let waypts2 = [];
        for (let i = 1; i < groundTruth.length - 1; i++) {
            waypts2.push({
                location: new google.maps.LatLng(groundTruth[i].Lat, groundTruth[i].Long)
            });
        }

        // Render the computed route and display results
        directionsService.route({
            origin: new google.maps.LatLng(checkboxArray[0].Lat, checkboxArray[0].Long),
            destination: new google.maps.LatLng(checkboxArray[checkboxArray.length - 1].Lat, checkboxArray[checkboxArray.length - 1].Long),
            waypoints: waypts,
            optimizeWaypoints: true,
            travelMode: 'WALKING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                let route = response.routes[0];
                let summaryPanel = document.getElementById('info');
                summaryPanel.innerHTML = '';
                summaryPanel.innerHTML += '<p class="info-header"><b>Total Elevation Gain: </b><span class="info-value">' + info_vars.elevation + '</span> m</p>';
                summaryPanel.innerHTML += '<p class="info-header"><b>Total Distance: </b><span class="info-value">' + info_vars.distance + '</span> m</p>';
                summaryPanel.innerHTML += '<p class="info-header"><b>Shortest path Elevation Gain: </b><span class="info-value">' + info_vars.groundTruthElevation + '</span> m</p>';
                summaryPanel.innerHTML += '<p class="info-header"><b>Shortest Distance: </b><span class="info-value">' + info_vars.groundTruthDistance + '</span> m</p>';
                summaryPanel.innerHTML += '<p class="info-header"><b>X % of shortest distance: </b><span class="info-value">' + info_vars.upperLimit + '</span> m</p>';
            } else {
                window.alert('ERROR: ' + status);
            }
        });

        // Rendering the ground truth
        directionsService.route({
            origin: new google.maps.LatLng(groundTruth[0].Lat, groundTruth[0].Long),
            destination: new google.maps.LatLng(groundTruth[groundTruth.length - 1].Lat, groundTruth[groundTruth.length - 1].Long),
            waypoints: waypts2,
            optimizeWaypoints: true,
            travelMode: 'WALKING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplayGroundTruth.setDirections(response);
            } else {
                window.alert('ERROR: ' + status);
            }
        });
    }
</script>

<script async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQllgh-_DeFmp-zp7iOgP60WZxAdkPSw4&libraries=places&callback=initMap"></script>

</body>
</body>
</html>