<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1.0, user-scalable=no" name="viewport">
    <title>EleNa - {{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{{ url_for('static',filename='styles/stylesheet.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="map-canvas">
    <div id="map"></div>
</div>

<div id="panel">
    <div>
        <form action="/submit" method="post" role="form">
            <label for="source">Starting Point </label>
            <input class="searchfield" id="source" name="source" placeholder="Choose starting point, or click on the map"
                   type="text">
            <br>
            <label for="destination">Destination </label>
            <input class="searchfield" id="destination" name="destination" placeholder="Choose destination, or click on the map"
                   type="text">
            <br>
            <input class="x_percent" id="percent" max="200" min="100" name="percent" type="number" value="150">
            <label for="percent"> % of shortest path</label>
            <br>
            <label>Route Optimization Type : </label>
            <br>
            <input id="max" name="max-min" type="radio" value="maximize">
            <label for="max">Maximize</label>
            <input id="min" name="max-min" type="radio" value="minimize">
            <label for="min">Minimize</label>
        </form>
        <button class="button" id="submit" style="vertical-align:middle"><span>Get Directions </span></button>
    </div>
    <div id="info"></div>
</div>
<script>
    let map;

    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsDisplayGroundTruth = new google.maps.DirectionsRenderer({polylineOptions: {strokeColor: "#DF013A"}});

        var mapOptions = {
            zoom: 15,
            center: {lat: 42.3732, lng: -72.5199}
        }

        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        //Code to generate address from click
        directionsDisplay.setMap(map);
        directionsDisplayGroundTruth.setMap(map);
        directionsDisplayGroundTruth.setOptions({suppressMarkers: true});


        $("#submit").click(function () {

            var objective;
            var opt_type = document.getElementsByName('max-min');
            for (i = 0; i < opt_type.length; i++) {
                if (opt_type[i].checked) {
                    objective = opt_type[i].value;
                }
            }

            $.get("http://127.0.0.1:5000/submit" +
                encodeURIComponent($("#source").val()) + ":" +
                encodeURIComponent($("#destination").val()) + ":" +
                encodeURIComponent($("#percent").val()) + ":" +
                encodeURIComponent(objective)).done(function (data) {

                // alert( "Data Loaded: " + data.waypoints);
                elevation = data.elevation
                distance = data.distance
                waypoints = data.waypoints
                ground_truth = data.ground_truth

                calculateAndDisplayRoute(directionsService, directionsDisplay, directionsDisplayGroundTruth, waypoints, ground_truth);
            })
        });

        function placeMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }

        var geocoder = new google.maps.Geocoder();
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
            geocoder.geocode({
                'latLng': event.latLng
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        document.activeElement.id.value = results[0].formatted_address;
                        //alert(results[0].formatted_address);
                        if (!$("#source").val()) {
                            $('#source').val(event.latLng);
                            $('#source').val($('#source').val().slice(1, -1));
                        } else if (!$("#destination").val()) {
                            $('#destination').val(event.latLng);
                            $('#destination').val($('#destination').val().slice(1, -1));
                        }
                    }
                }
            });
        });
        //--------------------------

        //document.getElementById('submit').addEventListener('click', function() {
        //  calculateAndDisplayRoute(directionsService, directionsDisplay, waypoints);
        //});

        // Create the search box and link it to the UI element.
        var input = document.getElementById('source');
        var searchBox = new google.maps.places.SearchBox(input);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('destination');
        var searchBox = new google.maps.places.SearchBox(input);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay, directionsDisplayGroundTruth, checkboxArray, groundTruth) {
        var waypts = [];
        for (var i = 1; i < checkboxArray.length - 1; i++) {
            waypts.push({
                location: new google.maps.LatLng(checkboxArray[i].Lat, checkboxArray[i].Long),
                stopover: true
            });
        }

        var waypts2 = [];
        for (var i = 1; i < groundTruth.length - 1; i++) {
            waypts2.push({
                location: new google.maps.LatLng(groundTruth[i].Lat, groundTruth[i].Long),
                //stopover: true
            });
        }

        directionsService.route({
            origin: new google.maps.LatLng(checkboxArray[0].Lat, checkboxArray[0].Long),
            destination: new google.maps.LatLng(checkboxArray[checkboxArray.length - 1].Lat, checkboxArray[checkboxArray.length - 1].Long),
            waypoints: waypts,
            optimizeWaypoints: true,
            travelMode: 'WALKING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
                var summaryPanel = document.getElementById('info');
                summaryPanel.innerHTML = '';
                // For each route, display summary information.
                summaryPanel.innerHTML += '<b>Total Elevation Gain: </b>' + elevation + '<br>';
                summaryPanel.innerHTML += '<b>Total Distance: </b>' + distance + '<br>';
                summaryPanel.innerHTML += '<b>Route:- (Scroll Down) </b><br>';
                for (var i = 0; i < route.legs.length; i++) {
                    var routeSegment = i + 1;
                    summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                        '</b><br>';
                    summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
                    summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
                    summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
                }
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });

        directionsService.route({
            origin: new google.maps.LatLng(groundTruth[0].Lat, groundTruth[0].Long),
            destination: new google.maps.LatLng(groundTruth[groundTruth.length - 1].Lat, groundTruth[groundTruth.length - 1].Long),
            waypoints: waypts2,
            optimizeWaypoints: true,
            travelMode: 'WALKING'
        }, function (response, status) {
            if (status === 'OK') {
                console.log("shibingok");
                directionsDisplayGroundTruth.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>

<script async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQllgh-_DeFmp-zp7iOgP60WZxAdkPSw4&libraries=places&callback=initMap"></script>

</body>
</body>
</html>