<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>EleNa</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
</head>
<body>
<div id="map"></div>
<div id="right-panel">
    <div>
        <form action="/submit" method="post" role="form">
            <b>Enter start point or click on map:</b>
            <input id="pac-input" name="pac-input" class="controls" type="text" placeholder="Search Box">
            <br>
            <b>Enter end point or click on map:</b>
            <input id="pac-output" name="pac-output" class="controls" type="text" placeholder="Search Box">
            <br>


            <!-- slider -->

            <div id="slidecontainer">
                <b>Maximum percent of shortest path to travel:</b>
                <b>100%</b>
                <input type="range" id="slider" min="100" max="200" value="150">
                <b>200%</b>
            </div>

            <!-- toggleswitch -->

            <label for="flip-1">Elevation:</label>
            <select name="flip-1" id="flip-1" data-role="slider">
                <option value="maximize">Maximum</option>
                <option value="minimize">Minimum</option>
            </select>
        </form>
        <input type="submit" id="submit">
    </div>
    <div id="directions-panel"></div>
</div>
<script>
    // + ":" + encodeURIComponent($("#switchs").val()))


    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsDisplayGroundTruth = new google.maps.DirectionsRenderer({ polylineOptions: { strokeColor: "#DF013A" } });

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: 42.3732, lng: -72.5199}
        });

        //Code to generate address from click
        directionsDisplay.setMap(map);
        directionsDisplayGroundTruth.setMap(map);
        directionsDisplayGroundTruth.setOptions({ suppressMarkers: true });


        $("#submit").click(function () {

            $.get("http://127.0.0.1:5000/submit" +
                encodeURIComponent($("#pac-input").val()) + ":" +
                encodeURIComponent($("#pac-output").val()) + ":" +
                encodeURIComponent($("#slider").val()) + ":" +
                encodeURIComponent($("#flip-1").val())).done(function (data) {

                // alert( "Data Loaded: " + data.waypoints);
                elevation = data.elevation
                distance = data.distance
                waypoints = data.waypoints
                ground_truth = data.ground_truth

                calculateAndDisplayRoute(directionsService, directionsDisplay, directionsDisplayGroundTruth, waypoints, ground_truth);
            })
        });

        var geocoder = new google.maps.Geocoder();
        google.maps.event.addListener(map, 'click', function (event) {
            geocoder.geocode({
                'latLng': event.latLng
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        document.activeElement.id.value = results[0].formatted_address;
                        //alert(results[0].formatted_address);
                        if (!$("#pac-input").val()) {
                            $('#pac-input').val(event.latLng);
                            $('#pac-input').val($('#pac-input').val().slice(1, -1));
                        } else if (!$("#pac-output").val()) {
                            $('#pac-output').val(event.latLng);
                            $('#pac-output').val($('#pac-output').val().slice(1, -1));
                        }
                    }
                }
            });
        });
        //--------------------------

        //document.getElementById('submit').addEventListener('click', function() {
        //  calculateAndDisplayRoute(directionsService, directionsDisplay, waypoints);
        //});

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-output');
        var searchBox = new google.maps.places.SearchBox(input);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay, directionsDisplayGroundTruth, checkboxArray, groundTruth) {
        var waypts = [];
        for (var i = 1; i < checkboxArray.length - 1; i++) {
            waypts.push({
                location: new google.maps.LatLng(checkboxArray[i].Lat, checkboxArray[i].Long),
                stopover: true
            });
        }

        var waypts2 = [];
        for (var i = 1; i < groundTruth.length - 1; i++) {
            waypts2.push({
                location: new google.maps.LatLng(groundTruth[i].Lat, groundTruth[i].Long),
                //stopover: true
            });
        }

        directionsService.route({
            origin: new google.maps.LatLng(checkboxArray[0].Lat, checkboxArray[0].Long),
            destination: new google.maps.LatLng(checkboxArray[checkboxArray.length - 1].Lat, checkboxArray[checkboxArray.length - 1].Long),
            waypoints: waypts,
            optimizeWaypoints: true,
            travelMode: 'WALKING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
                var summaryPanel = document.getElementById('directions-panel');
                summaryPanel.innerHTML = '';
                // For each route, display summary information.
                summaryPanel.innerHTML += '<b>Total Elevation Gain: </b>' + elevation + '<br>';
                summaryPanel.innerHTML += '<b>Total Distance: </b>' + distance + '<br>';
                summaryPanel.innerHTML += '<b>Route:- (Scroll Down) </b><br>';
                for (var i = 0; i < route.legs.length; i++) {
                    var routeSegment = i + 1;
                    summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                        '</b><br>';
                    summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
                    summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
                    summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
                }
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });

        directionsService.route({
            origin: new google.maps.LatLng(groundTruth[0].Lat, groundTruth[0].Long),
            destination: new google.maps.LatLng(groundTruth[groundTruth.length - 1].Lat, groundTruth[groundTruth.length - 1].Long),
            waypoints: waypts2,
            optimizeWaypoints: true,
            travelMode: 'WALKING'
        }, function (response, status) {
            if (status === 'OK') {
                console.log("shibingok");
                directionsDisplayGroundTruth.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQllgh-_DeFmp-zp7iOgP60WZxAdkPSw4&libraries=places&callback=initMap"
        async defer></script>

</body>
</body>
</html>