{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}


{% block content %}

<div class="panel">
    <form action="/submit" method="post" role="form">
        <p>
            <label for="source">Source Location: </label>
        </p>
        <p>
            <input type="search" id="source" name="source"
                   placeholder="Enter Address or Coordinates">
        </p>
        <br>
        <p>
            <label for="destination">Destination Location: </label>
        </p>
        <p>
            <input type="search" id="destination"
                   name="destination"
                   placeholder="Enter Address or Coordinates">
        </p>
        <br>
        <p>
            <label for="percent">x % : </label>
        </p>
        <p>
            <input type="number" id="percent" name="percent"
                   placeholder="Enter value in %">
            <label for="percent">%</label>
        </p>
        <br>
        <p>
            <label>Route Optimization Type: </label>
        </p>
        <p>
            <input type="radio" id="max" name="max-min" value="max"><label for="max">Max</label>
        </p>
        <p>
            <input type="radio" id="min" name="max-min" value="min"><label for="min">Min</label>
        </p>
        <br>
        <br>
        <p>
            <input type="submit" value="submit">
        </p>
    </form>
</div>

<div id="map"></div>

<script type="text/javascript">
    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: 42.3732, lng: -72.5199}
        });
        //Code to generate address from click
        directionsDisplay.setMap(map);

        $("#submit").click(function () {
            $.get("http://127.0.0.1:5000/" + encodeURIComponent($("#source").val()) + ":" + encodeURIComponent($("#destination").val()) + ":" + encodeURIComponent($("#slider").val()) + ":" + encodeURIComponent($("#flip-1").val())).done(function (data) {

                //alert( "Data Loaded: " + data);
                //console.log(data);
                elevation = data.elevation
                distance = data.distance
                waypoints = data.waypoints

                calc(waypoints);
            })
        });


        function calc(data) {
            //var waypoints = [{Lat: 42.45691, Long: -72.56542}];
            calculateAndDisplayRoute(directionsService, directionsDisplay, data);
        }

        var geocoder = new google.maps.Geocoder();
        google.maps.event.addListener(map, 'click', function (event) {
            geocoder.geocode({
                'latLng': event.latLng
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        document.activeElement.id.value = results[0].formatted_address;
                        //alert(results[0].formatted_address);
                        if (!$("#source").val()) {
                            $('#source').val(event.latLng);
                            $('#source').val($('#source').val().slice(1, -1));
                        } else if (!$("#destination").val()) {
                            $('#destination').val(event.latLng);
                            $('#destination').val($('#destination').val().slice(1, -1));
                        }
                    }
                }
            });
        });
        //--------------------------

        //document.getElementById('submit').addEventListener('click', function() {
        //  var waypoints = [{Lat: 42.45691, Long: -72.56542}]
        //  calculateAndDisplayRoute(directionsService, directionsDisplay, waypoints);
        //});

        // Create the search box and link it to the UI element.
        var input = document.getElementById('source');
        var searchBox = new google.maps.places.SearchBox(input);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('destination');
        var searchBox = new google.maps.places.SearchBox(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay, checkboxArray) {
        var waypts = [];
        //var checkboxArray = document.getElementById('waypoints');
        for (var i = 1; i < checkboxArray.length - 1; i++) {
            waypts.push({
                location: new google.maps.LatLng(checkboxArray[i].Lat, checkboxArray[i].Long),
                stopover: true
            });
        }

        directionsService.route({
            origin: new google.maps.LatLng(checkboxArray[0].Lat, checkboxArray[0].Long),
            destination: new google.maps.LatLng(checkboxArray[checkboxArray.length - 1].Lat, checkboxArray[checkboxArray.length - 1].Long),
            waypoints: waypts,
            optimizeWaypoints: true,
            travelMode: 'WALKING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
                var summaryPanel = document.getElementById('directions-panel');
                summaryPanel.innerHTML = '';
                // For each route, display summary information.
                summaryPanel.innerHTML += '<b>Total Elevation Gain: </b>' + elevation + '<br>';
                summaryPanel.innerHTML += '<b>Total Distance: </b>' + distance + '<br>';
                summaryPanel.innerHTML += '<b>Route:- (Scroll Down) </b><br>';
                for (var i = 0; i < route.legs.length; i++) {
                    var routeSegment = i + 1;
                    summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                        '</b><br>';
                    summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
                    summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
                    summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
                }
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>


{% endblock %}
