{% extends "base.html" %}

{% block head %}
{{map_view.js}}
{% endblock %}

{% block content %}
<div class="leftc">
    <div id="map">{{map_view.html}}</div>
</div>
<div class="rightc">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.source.label }}
            {{ form.source(size=32) }}
        </p>
        <p>
            {{ form.destination.label }}
            {{ form.destination(size=32) }}
        </p>
        <p>
            {{ form.percent.label }}
            {{ form.percent(size=32) }}
        </p>
        <p>
            {% for subfield in form.maxmin %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>

{% endblock %}
